<div class="container">
  <h1>Edit Client</h1>

  <%= render "form.html", changeset: @changeset, action: admin_client_path(@conn, :update, @client) %>

  <%= link "Back", to: admin_client_path(@conn, :index) %>
</div>
