<div class="container">
  <h1>Edit Product</h1>

  <%= render "form.html", changeset: @changeset, action: admin_product_path(@conn, :update, @product) %>

  <%= link "Back", to: admin_product_path(@conn, :index) %>
</div>
