.alert:empty { display: none; }
.slide{
  min-height: 400px;
  background-color: #ccc;
  padding: 150px 0;
}
.services{
  padding: 150px 0;
  background-color: #f9f9f9;
}
.service{
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  transition: all 0.3s ease-out;
}
.service:hover{
  box-shadow: 2px 2px 20px rgba(104, 104, 104, 0.2);
  transform: scale(1.025)
}

.service_header{
  min-height: 200px;
  padding: 150px 0;
  color: #fff;
}

.testimonials_warapper{
  background-color: #f04d4e;
  min-height: 400px;
  padding: 150px 0;
  color: #fff;
}
.testimonial{

}
