<div class="container">
  <h1>New Article</h1>

  <%= render "form.html", changeset: @changeset, action: admin_article_path(@conn, :create) %>

  <%= link "Back", to: admin_article_path(@conn, :index) %>
</div>
